<?xml version='1.0' encoding='utf-8'?>
<widget id="com.isaactsmith.stardewtracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>stardew-tracker</name>
    <description>
        
    </description>
    <author email="isaac13smith@gmail.com" href="https://www.linkedin.com/in/isaac13smith/">
        Isaac Smith
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
