.statusbar-overlay {
    background-color: #000000;
}

.page .toolbar, .page .navbar {
    background-color: #269624
}

.tabbar .tab-link {
    color: #000;
}

.tabbar .tab-link-active {
    color: #fff;
}

.md .tabbar .tab-link-highlight {
    background-color: #fff;
}

.list .item-after {
    color: inherit;
    font-size: inherit;
}

/* fixing bug with framework7's checkbox */
.checkbox input[type=checkbox]:checked~i:after {
    opacity: 0;
}

.item-media {
    margin-right: auto;
    margin-left: 5%;
}

.item-after {
    margin-left: auto;
    margin-right: 3%;
}

.item-title {
    width: 65%;
}

.button-name {
    border: .2em solid #007aff;
    background-color: transparent;
    border-radius: .4em;
    font-size: inherit;
    font-family: inherit;
    padding: .8em;
    width: 100%
}

.hidden {
    display: none;
}

.desc {
    text-align: center;
    padding: 1em;
}

/* Add underline to item descriptions */
.tab .list ul li::before {
    content: '';
    position: absolute;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.list .item-inner:after {
    background-color: transparent;
}