/* Dark mode styles */
.dark {
    background-color: #303030;
}

.dark .list ul {
    background-color: #303030;
    background: #303030;
}

.dark .list button, .dark .list .item-content, .dark .list .desc, .dark .bundle-desc {
    background-color: #303030;
    background: #303030;
    color: white;
}

.dark .list .desc {
    color: #ffffffb3;
}

.dark .tabs .tab .tabs .tab .list .shownLi::before, .dark .tabs .tab .line::after {
    background-color: #424242;
    background: #424242;
    transform: none;
    transform-origin: 0;
}

#title {
    display: inline-flex;
    margin-top: 40px;
}

#title div {
    align-self: center;
}

.light-mode {
    border-radius: 0 .4em .4em 0;
}

.dark-mode {
    border-radius: .4em 0 0 .4em;
}

.active-mode {
    background-color: white;
}

.list .desc {
    color: #000000b3;
}

.statusbar-overlay {
    background-color: #000000;
}

.page .toolbar, .page .navbar {
    background-color: #269624
}

.tabbar .tab-link {
    color: #000;
}

.tabbar .tab-link-active {
    color: #fff;
}

.md .tabbar .tab-link-highlight {
    background-color: #fff;
}

.list .item-after {
    color: inherit;
    font-size: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/* fixing bug with framework7's checkbox */
.checkbox input[type=checkbox]:checked~i:after {
    opacity: 0;
}

input[type=checkbox] {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.checkbox {
    width: 1.8em;
    height: 1.8em;
}

.checkbox i {
    width: 100%;
    height: 100%;
}

.item-media {
    margin-right: auto;
    margin-left: auto;
}

.item-title {
    width: 65%;
}
.item-title.full {
    width: 90%;
}

.button-name {
    border: .2em solid #007aff;
    background-color: transparent;
    border-radius: .4em;
    font-size: inherit;
    font-family: inherit;
    padding: .8em;
    width: 100%
}

.button-hide {
    padding: .8em;
    border: .2em solid #007aff;
    background-color: transparent;
    border-radius: .4em;
    margin: 1em 5% 1em 5%;
    width: 90%;
}

.list .button-hide {
    font-size: 1.3em;
    font-weight: bold;
}

@media only screen and (max-width: 374px) {
    .list .button-hide {
        font-size: 1.1em;
        font-weight: bold;
    }
  }

button {
    outline: none;
}

.hidden {
    display: none;
}

.desc, .bundle-desc {
    text-align: center;
    padding: 0 1em 1em 1em;
    font-size: 16px;
}

/* Add underline to item descriptions */
.tab .list .shownLi::before, .line::after {
    content: '';
    position: sticky;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.list {
    margin-top: 0;
    margin-bottom: 0;
}
.list .item-inner::after {
    display: inline;
    background-color: transparent;
}
.list .item-inner {
    padding-right: 0;
}
.tabs .tab .toolbar {
    top: 0;
}
.page-content {
    padding: 0;
}
#navbar {
    height: 80px;
}
.type {
    border-radius: 0;
}
.navbar-inner .button-outline {
    background-color: white;
}
.navbar .title {
    width: 100%;
    margin: 2.3em 0 0 0;
    text-align: center;
}

/* Responsive font sizes for season/bundle tabs */
.toolbar-inner {
    font-size: 1.3em;
}

@media only screen and (max-width: 474px) {
    .toolbar-inner {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 424px) {
    .toolbar-inner {
        font-size: .9em;
    }
}

@media only screen and (max-width: 374px) {
    .toolbar-inner {
        font-size: .8em;
    }
}

.dummy {
    opacity: 0;
}

/* Progress bar in bundles view */
.progress {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 2px;
  }

.progress>div {
    background-color: #007aff;
    width: 0%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px 0 0 10px;
}