.statusbar-overlay {
    background-color: #000000;
}

.page .toolbar, .page .navbar {
    background-color: #269624
}

.tabbar .tab-link {
    color: #000;
}

.tabbar .tab-link-active {
    color: #fff;
}

.md .tabbar .tab-link-highlight {
    background-color: #fff;
}

.list .item-after {
    color: inherit;
    font-size: inherit;
}

/* fixing bug with framework7's checkbox */
.checkbox input[type=checkbox]:checked~i:after {
    opacity: 0;
}

.item-media {
    margin-right: auto;
    margin-left: 5%;
}

.item-after {
    margin-left: auto;
    margin-right: 3%;
}

.item-title {
    width: 65%;
}
.item-title.full {
    width: 90%;
}

.button-name {
    border: .2em solid #007aff;
    background-color: transparent;
    border-radius: .4em;
    font-size: inherit;
    font-family: inherit;
    padding: .8em;
    width: 100%
}

.button-hide {
    padding: .8em;
    border: .2em solid #007aff;
    background-color: transparent;
    border-radius: .4em;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em 5% 1em 5%;
    width: 90%;
}

.hidden {
    display: none;
}

.desc, .bundle-desc {
    text-align: center;
    padding: 0 1em 1em 1em;
    font-size: 16px;
}

/* Add underline to item descriptions */
.tab .list .shownLi::before, .line::after {
    content: '';
    position: sticky;
    background-color: var(--f7-list-item-border-color);
    display: block;
    z-index: 15;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
    transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)));
}

.list {
    margin-top: 0;
}
.list .item-inner:after {
    background-color: transparent;
}
.tabs .tab .toolbar {
    top: 0;
}
.page-content {
    padding: 0;
}
#navbar {
    height: 80px;
}
.type {
    border-radius: 0;
}
.navbar-inner .button-outline {
    background-color: white;
}
.navbar .title {
    width: 100%;
    margin: 2.3em 0 0 0;
    text-align: center;
}

.toolbar-inner {
    font-size: .9em;
}
.dummy {
    opacity: 0;
}